// library
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/rc-pagination/assets/index.css";

// typograph
@import "./general/typograph";

// components
@import "./components/alert";
@import "./components/card";
@import "./components/header";
@import "./components/input";
@import "./components/loading";
@import "./components/modal";
@import "./components/pagination";
@import "./components/rating";

// pages
@import "./pages/anime";
@import "./pages/animeDetail";

body {
    color: #fff;
    background: rgb(0,0,0);
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

main {
    position: relative;
    padding: 80px 0 40px;
}